<section>
  <div class="container rb-5 pb-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="card">
                  <div class="card-body">
                      {% for comment in comments %}
                          <div class="mb-3">
                              <p class="fw-bold mb-1">{{ comment.author }}</p>
                              <p class="text-muted small mb-1">{{ comment.created }}</p>
                              <p>{{ comment.body }}</p>
                          </div>
                      {% empty %}
                          <p>No comments yet.</p>
                      {% endfor %}
                  </div>
                  <div class="card-footer py-1 border-0" style="background-color: #f8f9fa;">
                    <div class="form-outline w-100">
                      <textarea class="form-control" id="textAreaExample" rows="1" style="background: #fff;" readonly
                                placeholder="Did you like the book? Let's make a review..." name="comment"></textarea>
                      <label class="form-label" for="textAreaExample">Send a feedback</label>
                  </div>
                  
                      {% if request.user.is_authenticated %}
                          <form method="post">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" class="btn btn-primary">Send comment</button>
                          </form>
                      {% else %}
                          <p class="mt-2"><a href="{% url 'sign_in' %}">Log in</a> to leave a comment.</p>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
